.example {
    text-align: center;
    border-radius: 4px;
    padding: 30px 50px;
    margin: 20px 0;
}
.not-found-message{
    margin: 10% auto;
}
.error{
    margin: 0 auto;
    width:50%;
}
.movieList{
    max-width: 1200px;
    margin: 0 auto;
}