body {
    background: #f0f2f5;
}

.site-layout {
    background: #fff;
    text-align: center;
}

.site-layout input{
    border: none;
    width: 960px;
    margin: 20px auto;
    border-bottom: 2px solid #cccccc;
    outline: none;
}

.pagination {
    margin: 20px 0;
}

.ant-menu-dark.ant-menu-horizontal {
    text-align: center;
}

.ant-tabs-nav-wrap {
    justify-content: center;
}

.search-input {
    margin: 0 auto;
    width: 40%;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
}